* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
}

/*  
    Add background image and set the container div. 
    - The goal here is a background image on a website that covers the entire browser window at all times.
    - For centering its inside container, I used flexbox to center container both horizontally and vertically.
*/

body {
    background: url("../images/background2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*
    The container holds all objects in this page. for that I use flex display. 
*/

.container {
    max-width: 1500px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}

/*
    The left and right side card. 
    In this card we holds children. 
    (for example in left card we hold the header, search bar and button.)
    we used flex as display.
*/

.card {
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    opacity: .9;
    border-radius: 5px;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.search_card {
    justify-content: center;
    align-items: center;
}

/*
    In this selector, we changed the width of search bar. 
*/

.search_wrapper {
    width: 360px;
}

/*
    In this selector, we used grid layout to arrange the elements in search bar (the user icon and input field). 
    In addition to we removed the border of input field and added a border in bottom of it.
*/

.search-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #c4c4c4;
}

/*
    In this selector, we changed the color of user icon (left side of input field).. 
*/

.search-div>i {
    color: #c4c4c4;
}

/*
    In this selector, we set the position of all div children of search div.
*/

.search-div>div {
    position: relative;
}

/*
    We created a line in the bottom of search bar with #4c4177 color.
    by default the line is deactiveate (width = 0). when we focus on the search bar, we can see the line (we set the line in .search-div:after and .search-div:before selector). 
*/

.search-div:after, .search-div:before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #4c4177;
}

/*
    For show the bottom border of search bar.
 */

.search-div:after {
    right: 50%;
}

.search-div:before {
    left: 50%;
}

/* For show the bottom border of search bar. (in focus)*/

.search-div.focus:after, .search-div.focus:before {
    width: 50%;
}

/*
    For change the color of user icon in focus mode.
*/

.search-div.focus.search-div>i {
    color: #4c4177;
}

/*
    Set the label of searchbar (USERNAME TEXT).
*/

.search-div__label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 1.2rem;
    transition: .3s;
}

/*
    Change location of label. (in focus mode)
*/

.search-div.focus .search-div__label {
    top: -6px;
    font-size: 15px;
}

/* 
    Style for search button, we set the width by it's parent, and change the color to gradient. you can see other styles in this selector. 
*/

.search_wrapper__button {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #4c4177 0%, #2a5470 74%);
    cursor: pointer;
    color: white;
    background-size: 200%;
    transition: .5s;
    text-transform: uppercase;
}

/* 
    For better experience (hover mode).
*/

.search_wrapper__button:hover {
    background-position: right;
}

/*
    Setup the search bar, we remove the border and set the width of it.
*/

.search-div__input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: .5rem .7rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
}

/*
    For styling the "Oh My Github text".
*/

.search_card__header {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
}

/*
    To add color to the top of profile card. For beauty only.
*/

.profile_card::before {
    content: '';
    position: relative;
    width: 100%;
    height: 270px;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #4c4177 0%, #2a5470 74%);
    clip-path: circle(400px at 50% -48.5%);
}

/*
Header navbar that contains user image and name.
*/

.profile_card__header {
    position: absolute;
    width: 100%;
    height: 265px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
    Avatar container that contians the avatar and git logo.
*/

.avatar_container {
    position: relative;
    width: 110px;
    height: 110px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 2px;
}

/*
    The user avatar. set it border and size.
*/

.avatar {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #0d324d;
}

/*
    hover image that comes on avatar image. 
*/

.hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 50, 77, 0.7);
    border-radius: 50%;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/*  
    When hover the avatar see the camera icon. 
*/

.hover:hover {
    transition: .5s;
    opacity: 1;
}

/*
    hover icon set to active in fullscreen mode of image.
*/

.hover.active {
    opacity: 1;
}

/* 
    Set username of user. 
*/

.name {
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    line-height: 1;
    margin: 5px 0;
}

/* Set id. */

.id {
    font-size: 1rem;
    color: white;
    opacity: .8;
}

/* set language */

.lang {
    font-size: .9rem;
    color: white;
    opacity: .7;
}

/* down side of profile card, that contains the bio, follower, following, repos count, location and  the blog divs. 
for this. we had two div. left and right, we use this selector to arrange right and left divs.*/

.profile_card__content {
    display: flex;
    padding: 1.7rem 2.5rem 2.6rem 2.5rem;
}

/* look at .profile_card__content */

.right {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    margin-left: auto;
}

/* style of followers count, followings count and repo count */

.info__number {
    font-size: 2.1rem;
    font-weight: 200;
    color: #333;
    line-height: 1.2;
}

/* style of followers label, followings label and repo label */

.info__title {
    font-size: .55rem;
    color: #666;
    font-weight: 400;
    line-height: 1;
    letter-spacing: uppercase;
}

/* look at .profile_card__content */

.left {
    display: flex;
    flex-direction: column;
}

/* style of location and blog div . by default is none. after req we set it to flex.*/

.item {
    display: none;
    padding: .1rem 0;
}

/* icon of location and blog */

.icon {
    color: #c4c4c4;
    text-align: center;
    font-size: 1rem;
    margin-right: 8px;
    transition: .3s;
    left: 0;
}

/* text of location and blog */

.item__text {
    font-weight: 100;
    text-align: center;
    font-size: .8rem;
    left: 0;
    color: #c4c4c4;
    text-decoration: none;
}

/* change color when mouse enter the blog url */

a.item__text:hover {
    color: #4facfe;
}

/* Style of "Bio" text */

.bio__header {
    position: relative;
    color: #555;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0 0 3px 0;
    margin-bottom: .9rem;
    display: inline-block;
}

/*
    For adding underline of header
*/

.bio__header:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #555;
    bottom: 0;
    left: 0;
}

/* text of user bio. */

.bio__content {
    color: #666;
    font-weight: 300;
    line-height: 1.7;
    margin-bottom: 1.2rem;
    white-space: pre-line;
}

/*
    This is the error container. 
*/

.error {
    position: fixed;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url("../images/error.png");
    bottom: 0;
    left: 0;
    visibility: hidden;
}

/* active the error message */

.error.active {
    visibility: visible;
}

/* when you click on avatar, you can see the avatar in fullscreen mode. for this, we used an image with z-index=-1 and set it to 99 when user click on it. */

.fullscreen {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: .5s;
}

.fullscreen img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.3);
    max-width: 100%;
    max-height: 100%;
    transition: .5s;
}

/* for showing image in fullscreen mode */

.fullscreen.show {
    opacity: 1;
    z-index: 99;
}

.fullscreen.show img {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

/* for return from fullscreen mode, we need to create a close (cross) button, so we create it by css. */

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 30px;
    height: 30px;
    transition: .5s;
}

.close:hover {
    opacity: .5;
}

/* for draw the cross */

.close:before, .close:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    top: 50%;
    left: 50%;
    background-color: #fff;
}

/* add / to cross  */

.close:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

/* add \ to cross  */

.close:after {
    transform: translate(-50%, -50%) rotate(315deg);
}