* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
}

/*  
    Add background image and set the container div. 
    - The goal here is a background image on a website that covers the entire browser window at all times.
    - For centering its inside container, I used flexbox to center container both horizontally and vertically.
*/

body {
    background: url("../images/background2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*
    The container holds all objects in this page. for that I use flex display. 
*/

.container {
    max-width: 1500px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}

.search_card {
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: .9;
    border-radius: 5px;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.search_wrapper {
    width: 360px;
}

.search-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #c4c4c4;
}

.search-div>i {
    color: #c4c4c4;
}

.search-div>div {
    position: relative;
}

.search-div:after, .search-div:before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #4c4177;
}

.search-div:after {
    right: 50%;
}

.search-div:before {
    left: 50%;
}

.search-div__label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 1.2rem;
    transition: .3s;
}

.search-div.focus.search-div>i {
    color: #4c4177;
}

.search-div.focus .search-div__label {
    top: -6px;
    font-size: 15px;
}

.search-div.focus:after, .search-div.focus:before {
    width: 50%;
}

.search_wrapper__button {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #4c4177 0%, #2a5470 74%);
    cursor: pointer;
    color: white;
    background-size: 200%;
    transition: .5s;
    text-transform: uppercase;
}

.search_wrapper__button:hover {
    background-position: right;
}

.search-div__input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: .5rem .7rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
}

.search_card__header {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
}

.profile_card {
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    opacity: .9;
    border-radius: 5px;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.profile_card::before {
    content: '';
    position: relative;
    width: 100%;
    height: 270px;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #4c4177 0%, #2a5470 74%);
    clip-path: circle(400px at 50% -48.5%);
}

/*
Header navbar that contains user image and name.
*/

.profile_card__header {
    position: absolute;
    width: 100%;
    height: 265px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
    Avatar container that contians the avatar and git logo.
*/

.avatar_container {
    position: relative;
    width: 110px;
    height: 110px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 2px;
}

/*
    The user avatar. set it border and size.
*/

.avatar {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #0d324d;
}

/*
    hover image that comes on avatar image. 
*/

.hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 50, 77, 0.7);
    border-radius: 50%;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/*  
    When hover the avatar see the git icon. 
*/

.hover:hover {
    transition: .5s;
    opacity: 1;
}

.hover.active {
    opacity: 1;
}

.name {
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    line-height: 1;
    margin: 5px 0;
}

.id {
    font-size: 1rem;
    color: white;
    opacity: .8;
}

.lang {
    font-size: .9rem;
    color: white;
    opacity: .7;
}

.profile_card__content {
    display: flex;
    padding: 1.7rem 2.5rem 2.6rem 2.5rem;
}

.right {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    margin-left: auto;
}

.info__number {
    font-size: 2.1rem;
    font-weight: 200;
    color: #333;
    line-height: 1.2;
}

.info__title {
    font-size: .55rem;
    color: #666;
    font-weight: 400;
    line-height: 1;
    letter-spacing: uppercase;
}

.left {
    display: flex;
    flex-direction: column;
}

.item {
    display: none;
    padding: .1rem 0;
}

.icon {
    color: #c4c4c4;
    text-align: center;
    font-size: 1rem;
    margin-right: 8px;
    transition: .3s;
    left: 0;
}

.item__text {
    font-weight: 100;
    text-align: center;
    font-size: .8rem;
    left: 0;
    color: #c4c4c4;
    text-decoration: none;
}

a.item__text:hover {
    color: #4facfe;
}

.bio__header {
    position: relative;
    color: #555;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0 0 3px 0;
    margin-bottom: .9rem;
    display: inline-block;
}

/*
    For adding underline of header
*/

.bio__header:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #555;
    bottom: 0;
    left: 0;
}

.bio__content {
    color: #666;
    font-weight: 300;
    line-height: 1.7;
    margin-bottom: 1.2rem;
    white-space: pre-line;
}


/*
    This is the error container. 
*/

.error {
    position: fixed;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url("../images/error.png");
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.error.active {
    visibility: visible;
}

.fullscreen {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: .5s;
}

.fullscreen img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.3);
    max-width: 100%;
    max-height: 100%;
    transition: .5s;
}

.fullscreen.show {
    opacity: 1;
    z-index: 99;
}

.fullscreen.show img {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 30px;
    height: 30px;
    transition: .5s;
}

.close:hover {
    opacity: .5;
}

.close:before, .close:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    top: 50%;
    left: 50%;
    background-color: #fff;
}

.close:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close:after {
    transform: translate(-50%, -50%) rotate(315deg);
}